    RewriteEngine On

    # Thunderbird 50-69 beta
    RewriteCond %{QUERY_STRING} (^|&)locale=([^?&]+)&version=([5-6][013-9].0)($|&)
      RewriteRule .* https://www.thunderbird.net/%2/thunderbird/%3beta/releasenotes/ [QSA,R=302,L]

    #Thunderbird 52.*
    RewriteCond %{QUERY_STRING} (^|&)version=(52.[^?&]+)($|&)
    RewriteCond %{QUERY_STRING} (^|&)locale=([^?&]+)($|&)
      RewriteRule .* https://support.mozilla.org/kb/new-thunderbird-52 [QSA,R=302,L]

    #Thunderbird 45.2beta
    RewriteCond %{QUERY_STRING} (^|&)version=(45.2)($|&)
    RewriteCond %{QUERY_STRING} (^|&)locale=([^?&]+)($|&)
      RewriteRule .* https://www.thunderbird.net/%2/thunderbird/45.2beta/releasenotes/ [QSA,R=302,L]

    #Thunderbird 45.*
    RewriteCond %{QUERY_STRING} (^|&)version=(45.[^?&]+)($|&)
      RewriteRule .* https://support.mozilla.org/kb/new-thunderbird-45 [QSA,R=302,L]

    #Thunderbird 51.0beta
    RewriteCond %{QUERY_STRING} (^|&)version=(51.0)($|&)
    RewriteCond %{QUERY_STRING} (^|&)locale=([^?&]+)($|&)
      RewriteRule .* https://www.thunderbird.net/%2/thunderbird/51.0beta/releasenotes/ [QSA,R=302,L]

    #Thunderbird 50.0beta
    RewriteCond %{QUERY_STRING} (^|&)version=(50.0)($|&)
    RewriteCond %{QUERY_STRING} (^|&)locale=([^?&]+)($|&)
      RewriteRule .* https://www.thunderbird.net/%2/thunderbird/50.0beta/releasenotes/ [QSA,R=302,L]

    #Thunderbird 49.0beta
    RewriteCond %{QUERY_STRING} (^|&)version=(49.0)($|&)
    RewriteCond %{QUERY_STRING} (^|&)locale=([^?&]+)($|&)
      RewriteRule .* https://www.thunderbird.net/%2/thunderbird/49.0beta/releasenotes/ [QSA,R=302,L]

    #Thunderbird 47.0beta
    RewriteCond %{QUERY_STRING} (^|&)version=(47.0)($|&)
    RewriteCond %{QUERY_STRING} (^|&)locale=([^?&]+)($|&)
      RewriteRule .* https://www.thunderbird.net/%2/thunderbird/47.0beta/releasenotes/ [QSA,R=302,L]

    #Thunderbird 44.0beta
    RewriteCond %{QUERY_STRING} (^|&)version=(44.0)($|&)
    RewriteCond %{QUERY_STRING} (^|&)locale=([^?&]+)($|&)
      RewriteRule .* https://www.thunderbird.net/%2/thunderbird/44.0beta/releasenotes/ [QSA,R=302,L]

    #Thunderbird 43.0beta
    RewriteCond %{QUERY_STRING} (^|&)version=(43.0)($|&)
    RewriteCond %{QUERY_STRING} (^|&)locale=([^?&]+)($|&)
      RewriteRule .* https://www.thunderbird.net/%2/thunderbird/43.0beta/releasenotes/ [QSA,R=302,L]

    #Thunderbird 42.0beta
    RewriteCond %{QUERY_STRING} (^|&)version=(42.0)($|&)
    RewriteCond %{QUERY_STRING} (^|&)locale=([^?&]+)($|&)
      RewriteRule .* https://www.thunderbird.net/%2/thunderbird/42.0beta/releasenotes/ [QSA,R=302,L]

    #Thunderbird 41.0beta
    RewriteCond %{QUERY_STRING} (^|&)version=(41.0)($|&)
    RewriteCond %{QUERY_STRING} (^|&)locale=([^?&]+)($|&)
      RewriteRule .* https://www.thunderbird.net/%2/thunderbird/41.0beta/releasenotes/ [QSA,R=302,L]

    #Thunderbird 40.0beta - starting now, betas will link directly to release notes
    RewriteCond %{QUERY_STRING} (^|&)version=(40.0)($|&)
    RewriteCond %{QUERY_STRING} (^|&)locale=([^?&]+)($|&)
      RewriteRule .* https://www.thunderbird.net/%2/thunderbird/40.0beta/releasenotes/ [QSA,R=302,L]

    #Thunderbird 38.x - starting now, releases will have the whats new information on SUMO
    RewriteCond %{QUERY_STRING} (^|&)version=(38.[\d\.]+)($|&)
    RewriteCond %{QUERY_STRING} (^|&)locale=([^?&]+)($|&)
      RewriteRule .* https://support.mozilla.org/%2/kb/new-thunderbird-38 [QSA,R=302,L]

    # Everything else is considered a nightly
    RewriteRule .* https://www.thunderbird.net/en-US/thunderbird/nightly/whatsnew/?uri=%{REQUEST_URI} [QSA,R=302]
