    RewriteEngine On

    # Thunderbird 50, 51, 53, 54 beta
    RewriteCond %{QUERY_STRING} (^|&)version=(5[0134].0)($|&)
    RewriteCond %{QUERY_STRING} (^|&)locale=([^?&]+)($|&)
      RewriteRule .* https://start.thunderbird.net/%2/beta/?uri=%{REQUEST_URI} [QSA,R=302,L]

    # Thunderbird 52.*
    RewriteCond %{QUERY_STRING} (^|&)version=(52.[^?&]+)($|&)
    RewriteCond %{QUERY_STRING} (^|&)locale=([^?&]+)($|&)
      RewriteRule .* https://start.thunderbird.net/%2/release/?uri=%{REQUEST_URI} [QSA,R=302,L]

    # Thunderbird 0-49.*
    RewriteCond %{QUERY_STRING} (^|&)version=([1-4]?[0-9]\.[^?&]+)($|&)
    RewriteCond %{QUERY_STRING} (^|&)locale=([^?&]+)($|&)
      RewriteRule .* https://start.thunderbird.net/%2/release/?uri=%{REQUEST_URI} [QSA,R=302,L]

    # Thunderbird Earlybird
    RewriteCond %{QUERY_STRING} (^|&)version=(\d{1,2}\.\da2)($|&)
    RewriteCond %{QUERY_STRING} (^|&)locale=([^?&]+)($|&)
      RewriteRule .* https://start.thunderbird.net/%2/earlybird/?uri=%{REQUEST_URI} [QSA,R=302,L]

    # Everything else is considered a nightly
    RewriteRule .* https://start.thunderbird.net/en-US/daily/?uri=%{REQUEST_URI} [QSA,R=302]
