    RewriteEngine On

    # Thunderbird Release 60+
    RewriteCond %{QUERY_STRING} (^|&)locale=([^?&]+)&version=([^?&]+)&channel=release($|&)
      RewriteRule .* https://www.thunderbird.net/en-US/thunderbird/%3/releasenotes/?uri=%{REQUEST_URI} [QSA,R=302,L]

    # Thunderbird 50-69 beta
    RewriteCond %{QUERY_STRING} (^|&)locale=([^?&]+)&version=([5-6][013-9].0)($|&)
      RewriteRule .* https://www.thunderbird.net/en-US/thunderbird/%3beta/releasenotes/?uri=%{REQUEST_URI} [QSA,R=302,L]

    # Thunderbird 52.*
    RewriteCond %{QUERY_STRING} (^|&)locale=([^?&]+)&version=52.([^?&]+)($|&)
      RewriteRule .* https://www.thunderbird.net/en-US/thunderbird/52.%3/releasenotes/?uri=%{REQUEST_URI} [QSA,R=302,L]

    # Thunderbird 45.8.0 - takes precedence over below rewrite.
    RewriteCond %{QUERY_STRING} (^|&)version=(45.8.0)($|&)
    RewriteCond %{QUERY_STRING} (^|&)locale=([^?&]+)($|&)
      RewriteRule .* https://www.thunderbird.net/en-US/thunderbird/45.8.0/releasenotes/?uri=%{REQUEST_URI} [QSA,R=302,L]

    # Thunderbird 0-49.*
    RewriteCond %{QUERY_STRING} (^|&)version=([1-4]?[0-9]\.[^?&]+)($|&)
    RewriteCond %{QUERY_STRING} (^|&)locale=([^?&]+)($|&)
      RewriteRule .* https://www.thunderbird.net/%2/thunderbird/releases/?uri=%{REQUEST_URI} [QSA,R=302,L]

    # Everything else is considered a nightly
    RewriteRule .* https://start.thunderbird.net/en-US/daily/?uri=%{REQUEST_URI} [QSA,R=302]
